<ion-header>
  <ion-navbar>
    <ion-title>
      Stock
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToAddItemPage()">
        <ion-icon name="add"></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-searchbar [(ngModel)]="itemName" (input)="searchBar()"></ion-searchbar>
  </div>
    <ion-list *ngIf="!searchResults.length">
        <ion-item *ngFor="let item of stockList | async" (click)="selectStockList(item)">
           <h2>Name: {{ item.itemName }}</h2>
           <h3>Size: {{ item.itemSize }}</h3>
           <h3>Colour: {{ item.itemColour}}</h3>
           <h3>Quantity: {{ item.itemQuantity }}</h3>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="searchResults.length">
      <ion-item *ngFor="let item of searchResults" (click)="selectStockList(item)">
         <h2>Name: {{ item.itemName }}</h2>
         <h3>Size: {{ item.itemSize }}</h3>
         <h3>Colour: {{ item.itemColour}}</h3>
         <h3>Quantity: {{ item.itemQuantity }}</h3>
      </ion-item>
  </ion-list>
</ion-content>


